adjustText==0.7.3
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
async-timeout==4.0.2
attrs
Babel==2.10.3
beautifulsoup4==4.11.1
bs4==0.0.1
certifi
charset-normalizer==2.0.12
click==8.1.3
cycler==0.11.0
docutils==0.17.1
fonttools==4.33.3
frozenlist==1.3.0
idna==3.3
imagesize==1.3.0
importlib-metadata==4.12.0
iniconfig
Jinja2==3.1.2
kiwisolver==1.4.3
lxml==4.9.0
MarkupSafe==2.1.1
matplotlib==3.5.2
multidict==6.0.2
numpy
packaging==21.3
pandas==1.4.3
Pillow==9.1.1
pip==22.0.4
pluggy==1.0.0
py==1.11.0
Pygments==2.12.0
pyparsing==3.0.9
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
requests
setuptools==56.0.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.0.2
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tomli==2.0.1
tqdm==4.64.0
typer==0.4.1
typing==3.7.4.3
urllib3
yarl==1.7.2
zipp